.Footer {
    background-color: var(--Head);
    max-height: 9vw;

    padding: 20px 0;


    .c {
    display: flex;
    justify-content: space-around;
    }

    .Title {
        display: flex;
        align-items: center;
        
        h1 {
            font-size: 25px;
        }

        .bindestrich {
            margin: 10px 10px;
        }
    }

    .Cat {
        justify-content: center;
        text-align: left;
        background-color: var(--Head);

        h4 {
            margin-bottom: 10px;
        }

    }

    .line {
        .linec {
            background: rgb(200, 200, 200);
            height: 1.4px;
        }

        padding: 30px 30px;
        background-color: var(--Head);
    }

    .Copyright {
        text-align: center;
        color: rgb(200, 200, 200);
        font-size: smaller;
        background-color: var(--Head);
    }


@media screen and (max-width: 1300px) {
    .c {
        display: block;
    }

    .Title {
        display: block;
        text-align: center;
    }

    .Cat {
        display: flex;
        justify-content: space-around;
    }

    .line {
        display: none;
    }


    br {
        display: none;
    }

    .Team {
        display: none;
    }
 }

}