:root{
    --Head:            #ff304f;
    --Background:      #002651;
    --Box:             #422d87;
    --Highligth:       #ff304f;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    background-color: var(--Background);
}

h3 {
    color: var(--Head);
}

.box {
    background: var(--Box);
    border-radius: 8px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    text-decoration: none ;
    color: rgb(210, 210, 210);
}

.d {
    display: none;
}

@media screen and (min-width: 1300px){
    .d {display: block;}
    .m {display: none;}
}