:root{
    --Chery:            #A03232;
    --Peach:            #C86F5E;
    --Pumpkin:          #E6C073;
    --Potato:           #FFFEB8;
    --white:            #eaeaea;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    text-decoration: none ;
}